body{
    background-color: darkgray;
}

#div1 {
    margin-bottom: 10px;
}
.Divbg{
    background: #eb2603;
    padding: 10px;
    color: #fff;
    text-align: center;
    width: 175px;
    border-color: rgb(7, 230, 18);
    border: width 10px;
    border-style: solid;
}